* {
    margin: 0;
    padding: 0;

    text-decoration: none;

    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Scada', sans-serif;
}
body,html {
    height: 100%;
    overflow-x: hidden;
}

.body {
    background-color: #FFFFFF;
}
/*-----Container----*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

/*-------header-------*/
.header {
    width: -webkit-fill-available;

    margin-top: 17px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: absolute;

    z-index: 1;
}
.navigation_menu {
    display: flex;

    margin-left: 65px;
    gap: 42px;
}
.navigation_menu a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;

    color: #2D2D2D;
}
.call_back {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-left: 67px;


}
.telephone {
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.number {
    margin-left: 10px;
}
.number a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    color: #2D2D2D;
}
.arrow {
    margin-left: 8px;
}
.order_call p {
    cursor: pointer;

    border-bottom: 1px dashed #2D2D2D;
}

/*-----------block1----------------*/

.block_1 {
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 687px;
    
    
    position: relative;
}
.bg_block1 {
    width: 100%;
    height: 100%;

    background: #DC911B;
    opacity: 0.3;

    position: absolute;
}
.block_1_text {
    margin-left: 360px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;

    text-transform: uppercase;

    color: #3E3E3D;
    
    z-index: 1;
}
.block_1_img {
    position: absolute;

    left: 755px;
    top: 81px;

}
.block_1_img img {
    filter:  sepia(80%) saturate(460%) hue-rotate(325deg) brightness(89%) contrast(102%);
}
/*------------block-2-------------*/

.block_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 1975px;
    width: -webkit-fill-available;
    
    padding: 0 351px 0 362px;

    position: relative;
}

.block_2 .title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;

    margin-top: 100px;

    color: #000000;

}

.security {
    display: flex;
    align-items: center;

    width: 100%;

    float: left;

    margin-top: 60px;
}
.text_blocks {
    margin-left: 141px;
}
.text_blocks h1 {
    width: 575px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

    text-transform: uppercase;

    color: #000000;
}
.text_blocks p {
    width: 575px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #000000;


    margin-top: 34px;
}
.security .btn_idle {
    margin-top: 38px;

    float: right;
}

.jobs {
    display: flex;
    align-items: center;

    width: 100%;

    float: right;

    margin-top: 93px;
}
.jobs .text_blocks {
    margin: 0 179px 0 121px;
}
.jobs .btn_idle {
    margin-top: 38px;

    float: right;
}

.train {
    display: flex;
    align-items: center;

    width: 100%;

    float: left;

    margin-top: 95px;
}
.train .text_blocks {
    margin: 0 0 0 132px;
}
.train .btn_idle {
    margin-top: 38px;

    float: right;
}

.invalid {
    display: flex;
    align-items: center;

    width: 100%;

    justify-content:flex-end;

    margin-top: 102px;
}
.invalid .text_blocks {
    margin: 0 74px 0 0;
}
.invalid .btn_idle {
    margin-top: 38px;

    float: right;
}

.bg_block_2{
    position: absolute;
}

.bg_lines_1 {
    top: 273.16px;
    left: 0;
}
.bg_lines_2 {
    top: 522px;
    left: 701px;
}
.bg_lines_3 {
    top: 928px;
    left: 746px;
}
.bg_lines_4 {
    top: 1339px;
    left: 132px;
}
.bg_lines_5 {
    top: 1703px;
    left: 1551px;
}
/*------------------block_3----------------------*/

.block_3 {
    width: 100%;
    height: 758px;

    margin-top: 206px;

    display: flex;
    /* justify-content: center; */
    
    position: relative;

    background-color: #3E3E3D;
}
.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-left: 276px;
    height: 100%;
    
}
.reviews h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;

    color: #FFFFFF;

    margin-top: 125px;
}
.block_reviews {
    display: flex;
    flex-direction: row;

    gap: 47px;
    margin-top: 106px;
    
}
.buttons_review {
    display: flex;

    margin-top: 40px;
}
.reviews button{
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 34px;
    height: 34px;

    border: none;
   
}
.left {
    background-color: #c4c4c4;
}
.right {
    background-color: #DC911B;
}
.icons_reviews {
    position: absolute;

    top: 0;
    left: 933px;
}
.more {
    position: absolute;

    top: 670px;
    left: 940px;
}
.more button {
    cursor: pointer;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;

    color: #FFFFFF;

    border: none;

    background: none;


}

/*-------------------block_4---------------------*/

.block_4 h1 {
    margin-top: 77px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
}
.proect_1 {
    height: 312px;

    margin-top: 98px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    z-index: 2;
}
.proect_2{
    height: 312px;

    margin-top: 105px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    z-index: 2;
}
.text_proect {
    display: flex;
    align-items: flex-start;

    margin-top: 146px;
}
.text_proect h1 {
    margin-top: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;

    color: #000000;

}
.text_proect p {
    width: 228px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #000000;

    margin-left: 430px;
}
.controls {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin-top: 47px;
}
.controls button{
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 34px;
    height: 34px;

    border: none;
}
.date {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;

    color: #6F6F6E;
}

.proect_2 .bg{
    background-image: url(/src/img/block/block_4/Rectangle\ 35.png);
}
.bg{
    width: 556px;
    height: 312px;

    position: absolute;
    left: 207px;
    
    background-color: #DC911B;

    z-index: -1;
}
.more_block_4 {
    display: flex;
    float: right;
    margin-top: 92px;
    cursor: pointer;
}
.more_block_4 p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;

    color: #000000;

}
.more_block_4 button {
    border: none;
    background: none;
    margin-left: 10px;
}

/*-----------------block_5-----------------*/

.block_5 {
    width: 100%;

    margin-top: 88px;

    position: relative;
}
.bg_block_5 {
    width: 944px;
    height: 471px;

    position: absolute;

    z-index: -1;

    background-color: #EDEEEF;
}
.bg_block_hum {
    position: absolute;

    top: 261px;
    left: 330px;
}

.more_buttons {
    cursor: pointer;

    position: absolute;

    top: 380px;
    left: 1418px;
}
.more_buttons p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;

    color: #000000;
}

.hot_news {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 471px;
}
.hot_new{
    display: flex;
}
.hot_news h1 {
    margin-left: 379px;

    width: 189px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;

    color: #000000;
}
.news_1 {
    display: flex;
    flex-direction: column;

    margin-left: 98px;
}
.news_1 h1{
    width: 100%;
    height: max-content;

    margin: 0;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;

    color: #000000;
}
.news_1 button {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 34px;
    height: 34px;

    border: none;
}
.data_news {
    margin-top: 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;

    color: #6F6F6E;
}
.news_text {
    margin-top: 16px;

    width: 228px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #000000;
}
.news_1 .right {
    margin-top: 23px;

    float: left;
}
/*------------block_6------------*/
.block_6 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

    margin-top: 146px;
}
.man {
    position: absolute;
    z-index: -2;
    top: -11px;
    left: 458px;
}
.out {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 300px;

    margin-top: 21px;

    z-index: 1;
}
.out_text p{
    margin-top: 11px;
}
.out_input input{
    border: none;
    background: none;

    border-bottom: 1px solid #DC911B;

    padding-left: 10px;
    padding-bottom: 6px;

    font-family: 'Scada';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #3E3E3D;
}
.out_input input::placeholder {
    font-family: 'Scada';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #3E3E3D;

    width: 142px;
}
.out_input #tel {
    border-color: #3E3E3D;
    width: 142px;
}
.out_input {
    display: flex;

    margin-top: 30px;

    gap: 54px;
}

.out_text {
    margin-top: 30px;

    text-align: center;
}
.out .btn_idle {
    margin-top: 39px;
}
.women {
    position: absolute;
    top: 0;
    left: 628px;
    z-index: -1;
}

.bg_block_6{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    width: 100%;
}

/*-----------------block_7-------------------*/

.block_7 {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    margin-top: 163px;
}
.h1_block_7{
    width: 100%;
    
}
.h1_block_7  h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
}
.states {
    width: 100%;  

    display: flex;
    gap: 23px;

    margin-top: 90px;
}
.states_block{
    width: -webkit-fill-available;;
    padding:  0 360px;
}
.state {
    cursor: pointer;
    margin-left: 30px;
}
.state h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
.state p {
    width: 245px;

    margin-top: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    color: #000000;
}
.date {
    margin-top: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    color: #C6C6C6;
}
.more_state {
    cursor: pointer;

    width: 100%;

    margin-top: 60px;
    
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;


}
.more_state p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
}
/*-----------------block_8--------------------------*/
.block_8 {
    width: 100%;
    height: 758px;

    margin-top: 90px;

    display: flex;
    /* justify-content: center; */
    
    position: relative;

    background-color: #3E3E3D;
}
.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-left: 276px;
    height: 100%;
    
}
.reviews h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;

    color: #FFFFFF;

    margin-top: 125px;
}
.block_reviews {
    display: flex;
    flex-direction: row;

    gap: 47px;
    margin-top: 106px;
    
}
.buttons_review {
    display: flex;

    margin-top: 40px;
}
.reviews button{
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 34px;
    height: 34px;

    border: none;
   
}
.left {
    background-color: #c4c4c4;
}
.right {
    background-color: #DC911B;
}
.icons_reviews {
    position: absolute;

    top: 0;
    left: 1038px;
}
.more {
    position: absolute;

    top: 670px;
    left: 940px;
}
.more button {
    cursor: pointer;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;

    color: #FFFFFF;

    border: none;

    background: none;


}
/*------------------block_9----------------------*/

.h1_block_9 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;

    margin-top: 57px;
    margin-left: 207px;

    color: #000000;
}
.clients {
    width: 1200px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 60px;
}
.client {
    width: 296px;
    height: 180px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #F2F2F2;
}

/*----------------Footer------------------*/
.footer {
    height: 383px;
    width: -webkit-fill-available;

    background-color: #3E3E3D;
    
    padding: 0 360px;

    margin-top: 93px;
}
.footer_1block {
    display: flex;
    justify-content: space-between;

    padding: 30px 0;
}
.footer_1block h1{
cursor: pointer;

    margin-bottom: 15px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;

    color: #FFFFFF;
}
.footer_1block p {
    cursor: pointer;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;

    color: #777E89;
}
.footer_search {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.searchs {
    position: relative;
}
.searchs input{
    width: 100%;

    background-color: #3E3E3D;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 12px 43px 12px 18px;
}
.footer_searc_button {
    display: flex;
    flex-direction: row;

    gap: 100px;
}
.button_search {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mail {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mail a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    margin-left: 10px;

    text-decoration-line: underline;

    color: #FFFFFF;
}
.geo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.geo label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    margin-left: 10px;

    color: #FFFFFF;
}
.button_call a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;

    margin-left: 10px;

    color: #FFFFFF;
}
.footer_call {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer_call_back button{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    margin-top: 15px;

    color: #FFFFFF;

    padding: 12px 20px;

    background-color: #FD9913;
    border-radius: 3px;
    border: none;

    transition: background-color  .5s ease;
    
}
.footer_call_back button:hover {
    background-color: #fff;
    color:  #FD9913;
    
}
.footer_2block {
    margin-top: 55px;

    border-top: 1px solid #777E89;

    padding: 58px 0 0;
    display: flex;
}
.license {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;

    color: #777E89;
}
.footer_logo {
    margin-left: 288px;
}
.searchs .icon{
    cursor: pointer;
    position: absolute;
    top: 14px;
    left: 387px;
}
/*--------BTN-------*/
.btn_idle {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 120%;

    color: #000000;

    background: none;

    border: 1px solid #dc911b;
    border-radius: 5px;


    padding: 11px 26px;

    transition: background-color  .5s ease;
}
.btn_idle:hover {
    color: #fff;

    background-color: #dc911b;

    /* border: none; */
}
